# Add any directories, files, or patterns you don't want to be tracked by version control
# Xojo (formerly REALbasic and Real Studio)

# ignore mac osx files
.DS_Store

# ignore builds
Builds*

# ignore debug app and folders
*.debug
*.debug.app
Debug*.exe
Debug*/Debug*.exe
Debug*/Debug*\ Libs

# ignore ui state files
*.rbuistate
*.xojo_uistate

# ignore temporary change files
TempSaveFile*
*.obsolete

# ignore plugins for open source projects
*.xojo_plugin

# ignore hidden files
.*
!/.gitignore